/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}
/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: #000208ab;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  /* justify-content: space-between; */
  gap: 8%;
  align-items: center;
  margin: auto;
}
nav .navbar .logo{
  font-weight: 500;
  font-size: 35px;
  color: #e0e0e0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav.sticky .navbar .logo{
  color: #fff;
}

nav .navbar .menu{
  display: flex;
  position: relative;
  gap: 8%;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #9a9a9a;
  text-decoration: underline;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #0E2431;
}

#resume-button-1{
  margin-left: 20%;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #1a1a1a;
  background-color: #ededed;
  border-color: #ededed;
}

#resume-button-1:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

#resume-button-1.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #cbcbcb;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

nav .menu-btn {
  display: none;
}

/* home section styling */
#home{
  height: 100vh;
  width: 100%;
  background: url("./Images/andras-vas-Bd7gNnWJBkU-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
#home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home .text-one{
  font-size: 40px;
  color: #e0e0e0;
}
#home .text-two{
  color: rgb(253, 253, 253);
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
#home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #cbf11e;
}
#home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}
#home .button{
  margin: 14px 0;
}
#home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
#home .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* About Section Styling */
section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 500px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #272727;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* skills section */
.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.skills-card:hover {
  transform: scale(1.1); /* Increase size on hover */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.skills-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  flex-basis: calc(25% - 20px);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  transition: transform 0.3s ease-in-out;
}


.skills-card-name{
  margin-top: 5px;
  color: #2f2f2f;
}

.skills-card:nth-child(4n) {
  margin-right: 0;
}


.skills-card:not(:nth-child(4n)) {
  margin-right: 10px;
}

.project-card {
 font-family: 'Poppins', sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  margin-bottom: 10%;
  text-align: center;
  transition: transform 0.13s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;;
}
.project-card:hover {
  transform: scale(1.05);
  background-color: #f2f2f2;
}

.project-content{
  display: flex;
  align-items: center;
  gap: 5%;
}

.project-details h2{
  color: #393939;
}

.project-details p{
  color: #484848;
}

.topic img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.project-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.git-calender{
  margin-top: 20px;
  margin-bottom: 20px;
}


.buttons{
  margin-top: 10px;
  display: flex;
  gap: 10%;
  margin-left: 20%;
}



/* Footer CSS */
footer{
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}



/* contact section */

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.contact-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contact-card h3 {
  color: #3498db;
}

.contact-card p {
  color: #555;
  font-size: 18px;
  margin-top: 10px;
}

.contact-links{
  display: flex;
  justify-content: center;
  gap: 5%;
  padding-bottom: 2%;
}




/* Responsive Media Query */


@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
}



@media screen and (max-width: 1200px) {
  .skills-card {
    flex-basis: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 900px) {
  .skills-card {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .skills-card {
    flex-basis: calc(100% - 20px);
  }
}

/* nv bar responsiveness */
@media screen and (max-width: 1271px) {
  nav .navbar{
    width: 101%;
    padding-left: 4%;
    display: flex;
    /* justify-content: space-between; */
    gap: 8%;
    align-items: center;
    margin: auto;
  }
}

@media screen and (max-width: 1207px) {
  nav .navbar{
    width: 100%;
    padding-left: 2%;
  }
}

@media only screen and (max-width: 1172px){
  nav .navbar{
    width: 101%;
    display: flex;
    gap: 5%;
  }

  nav .navbar .menu{
    gap: 5%;
    margin-left: 2%;
  }
}


@media only screen and (max-width: 1114px) {
  nav .navbar{
    width: 101%;
    display: flex;
    gap: 5%;
    margin-bottom: 40px 
  }
}

@media  screen and (max-width: 1110px) {
  nav .navbar{
      width: 100%;
      display: flex;
      gap: 3%;
      margin-left: 1%;
    }
    nav .navbar .logo {
      font-size: 27px;
    }

    nav .navbar .menu{
      gap: 4%;
      margin-left: 3%;
    }

    nav .navbar .menu .nav-link{
      font-size: 17px;
    }
  }

  @media screen and (max-width : 1072px) {
    nav .navbar .logo {
      font-size: 27px;
    }
  }

  @media screen and (max-width : 953px) {
    nav .navbar{
      width: 100%;
      display: flex;
      gap: 2.5%;
      margin-left: 1%;
    }
    
    nav .navbar .logo {
      font-size: 26px;
    }

    nav .navbar .menu .nav-link{
      font-size: 16px;
    }
  }

  @media screen and (max-width : 903px){
    nav .navbar .logo {
      font-size: 25px;
    }

    nav .navbar .menu{
      margin-left: 3%;
    }

    nav .navbar .menu .nav-link{
      font-size: 15px;
    }
  }
  
  @media  screen and (max-width: 843px) {
    nav .navbar .logo {
      font-size: 23px;
    }

    /* 865 */

    nav .navbar .menu{
      margin-left: 3%;
    }

    nav .navbar .menu .nav-link{
      font-size: 14px;
    }

    nav button {
      margin-left: 0px;
    }
  }

  @media screen and (max-width : 806px){
    nav .navbar .logo {
      font-size: 24px;
    }

    nav .navbar .menu{
      margin-left: 3%;
    }

    nav .navbar .menu .nav-link{
      font-size: 13px;
    }
  }

  @media screen and (max-width : 856px){
    nav .navbar .logo {
      font-size: 22px;
    }

    nav .navbar .menu{
      margin-left: 5%;
    }

    nav .navbar .menu .nav-link{
      font-size: 12px;
    }

    
  }
  
  @media screen and (max-width : 794px){

    .nav-link{
      display: none;
      /* pointer-events: none; */
    }

    nav .navbar{
      width: 90%;
    }
    nav .navbar .menu{
      position: fixed;
      left: -100%;
      top: 0;
      background: #0E2431;
      height: 100vh;
      max-width: 400px;
      width: 100%;
      padding-top: 60px;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s ease;
    }
    .navbar.active .menu{
      left: 0;
    }
    nav .navbar .menu a{
      font-size: 23px;
      display: block;
      color: #fff;
      margin: 10px 0;
    }
    nav.sticky .menu a:hover{
      color: #4070f4;
    }
    nav .navbar .media-icons{
      display: none;
    }
    nav .menu-btn,
    .navbar .menu .cancel-btn{
      display: block;
    }
    .home .text-two{
      font-size: 65px;
    }

    .home .text-three{
      font-size: 35px;
    }
  
    #resume-button-1{
      display: none;
    }


  }

  @media screen and (max-width : 615px){
   html, body{
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }
    body{
      overflow: hidden;
    }
  }
.image12{
  width: 100%;
  /* height: 250px; */
}

@media screen and (max-width : 358px){
  nav .navbar .menu{
    width: -110%;
    position: fixed;
    left: -105%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  #home .text-two {
    color: rgb(253, 253, 253);
    font-size: 30px;
    font-weight: 600;
    margin-left: -3px;
    margin-top: 20px;
    line-height: 40px;
}

#home .text-three{
  font-size: 18px;
  margin: 10px 0px;
  color: #cbf11e;
}

#home .home-content .text{
  position: absolute;
  top: 90px;
}
}


@media only screen and (max-width:376px){
  nav .navbar .menu {
    position: fixed;
    left: -105%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  #home .text-two {
    color: rgb(253, 253, 253);
    font-size: 30px;
    font-weight: 600;
    margin-left: -3px;
    margin-top: 20px;
    line-height: 40px;
}

#home .text-three{
  font-size: 20px;
  margin: 10px 0px;
  color: #cbf11e;
}

#home .home-content .text{
  position: absolute;
  top: 90px;
}

}

@media only screen and (max-width:1022px){
  .about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
  }

  .scroll-button{
    padding-left: 10px;
  }
}